$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #83b66f;
$primary-dark: 	#5a8945;
$primary-light: #d0e4ca;
$on-primary: #ffffff;

$secondary: #9ea8ba;
$secondary-dark: #3c4e72;
$secondary-light: 	#c3cad6;
$on-secondary: #000000;

$error: red;
$on-error: white;

$success: green;
$on-success: white;

$warning: yellow;
$on-warning: black;
