.wrapper {
  max-width: 300px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 20px auto;
  width: 80%;
  height: auto;
  text-align: center;
  padding: 15px;

  img {
    width: 100%;
    margin-top: 12px;
  }
}
